/* reset:start */
html {
  box-sizing: border-box; /*設定 body 計算模式*/
  scroll-behavior: smooth; /* 設定網頁順暢滑動 */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 清除瀏覽器預設 viewport */
html, body {
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 0.9;
  list-style: none;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

/* 清除超連結預設底線 */
a {
  text-decoration: none;
}


/* reset:end */
/* 設定網頁主體: start */
/* 顏色參數化 */
:root {
  /* color */
  --main-text-color: #333333;
  --main-background-color: #f6f7f8;

  --navbar-title-text-color: #1a5366;
  --navbar-text-color: #267b98;
  --header-background-color: #ffffff;
  --header-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  
  --hamburger-background-color: #267b98;
  
  --banner-main-title-text-color: #1a5366;
  --banner-main-description-text-color: #267b98;
  --banner-sub-text-color: #ffffff;
  --banner-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

  --card-text-color: #ffffff;
  --card-background-color: #a9a9a9;
  --card-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  
  --adoption-title-text-color: #267c99;
  --adoption-description-text-color:#5e5c5c;
  --adoption-background-color: #ffffff;
  --adoption-box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
  
  --footer-text-color: #fff;
  --footer-background-color: #4a4a4a;
  
  --action-text-color: white;
  --action-background-color: #39bae6;
  --action-hover-background-color: #267c99;
  --action-box-shadow: 0 1px 5px 0 rgba(87, 87, 87, 1);


  /* photo */
  --main-banner-image-url: url("./public/images/banner/banner-photo-1.avif");
  --sub-banner-image-left-url: url("./public/images/banner/banner-photo-2.avif");
  --sub-banner-image-right-url: url("./public/images/banner/banner-photo-3.avif");
}


/* Design the darkmode attribute */
[data-theme = "dark"] {
    /* color */
    --main-text-color: #f6f7f8;
    --main-background-color: #333333;


    --navbar-title-text-color: #f6f7f8;
    --navbar-text-color: #f6f7f8;
    --header-background-color: #333333;
    --header-box-shadow: 0px 2px 12px 0px rgba(255, 255, 255, 0.1);

    --hamburger-background-color: #267b98;

    --banner-main-title-text-color: #1a5366;
    --banner-main-description-text-color: #267b98;
    --banner-sub-text-color: #ffffff;
    --banner-box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 0.1);

    --card-text-color: #ffffff;
    --card-background-color: #a9a9a9;
    --card-box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 0.1);

    --adoption-title-text-color: #267c99;
    --adoption-description-text-color: #ffffff;
    --adoption-background-color: #222222;;
    --adoption-box-shadow: 2px 10px 12px 0px rgba(255, 255, 255, 0.1);

    --footer-text-color: #fff;
    --footer-background-color: #4a4a4a;

    --action-text-color: white;
    --action-background-color: #39bae6;
    --action-hover-background-color: #267c99;
    --action-box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.1);


    /* photo */
    --main-banner-image-url: url("./public/images/banner/banner-photo-1.avif");
    --sub-banner-image-left-url: url("./public/images/banner/banner-photo-2.avif");
    --sub-banner-image-right-url: url("./public/images/banner/banner-photo-3.avif");
  }


html,body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  background-color: var(--main-background-color);
}

/* 共用背景圖片樣式 */


/* 設定網頁主體: end */
/* 設定專案樣式: start */
/* 專案共用樣式 */
.container {
  width: 85%;
  margin: 0 auto 3rem auto;
}

.action {
  color: var(--action-text-color);
  background-color: var(--action-background-color);
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  transition: all .1s linear;
}

.action:hover {
  background-color: var(--action-hover-background-color);
  box-shadow: var(--action-box-shadow);
}

@media screen and (min-width:768px) {
  .action {
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
  }
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* 標題列 header 樣式 */
header {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: var(--header-background-color);
  box-shadow: var(--header-box-shadow);
  -webkit-box-shadow: var(--header-box-shadow);
  -moz-box-shadow: var(--header-box-shadow);
  position: fixed;
  top: 0;
  z-index: 10;
}


.navbar-brand {
  line-height: 60px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 60px;
}


.navbar-brand .nav-link {
  color: var(--navbar-title-text-color);
  cursor: pointer;
}

.navbar-brand-title {
  color: var(--navbar-title-text-color);
}

#darkmode-toggle {
  display: none;
}



/* 標題列 header 樣式: 表單下拉功能 */
.navbar-toggle {
  visibility: hidden;
  position: absolute;
}

.navbar-toggle:checked~.nav {
  transform: scale(1, 1);
}

.navbar-toggle:checked~.nav .nav-item {
  transition: opacity .3s ease-out 0.15s;
  opacity: 1;
}

.nav {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: var(--header-background-color);

  /* 標題列 header 樣式: 表單下拉功能 */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform .3s ease-out;
}

.nav .nav-item {
  margin: 1.4rem 0;

  /* 標題列 header 樣式: 表單下拉功能 */
  opacity: 0;
}

.nav .nav-link {
  color: var(--navbar-text-color);
  font-weight: 700;
}



/* 手刻漢堡排選單樣式 */
.navbar-toggle-label {
  position: absolute;
  right: 7.5%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}


.hamburger,
.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  background-color: var(--hamburger-background-color);
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
}

.hamburger {
  position: relative;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: 8px;
}

.hamburger::after {
  bottom: 8px;
}



/* 電腦版標題列header區塊樣式，導入媒體查詢768px */
@media screen and (min-width:768px) {
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .navbar-brand {
    grid-column: 2/3;
  }

  .nav {
    all: unset;
    grid-column: 3/4;
  }

  .nav-list {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    grid-gap: 2rem;
  }

  .nav-list .nav-item {
    opacity: 1;
    margin: 0;
  }

  .navbar-toggle-label {
    display: none;
  }
}


/* 活動區banner區塊樣式 */
.banner-wrapper {
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 1.5rem;

  grid-template-areas:
    "main main main main"
    "left left right right";
}

.main-banner {
  grid-area: main;
  background-image: var(--main-banner-image-url);
}

.main-banner .banner-description {
  font-size: 1rem;
  color: var(--banner-main-description-text-color);
}

.main-banner .banner-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--banner-main-title-text-color);
}

.sub-banner-left {
  grid-area: left;
  background-image: var(--sub-banner-image-left-url);
}

.sub-banner-right {
  grid-area: right;
  background-image: var(--sub-banner-image-right-url);
}

.sub-banner .banner-title {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--banner-sub-text-color)
}

.sub-banner .banner-description {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--banner-sub-text-color)
}

.sub-banner .action {
  font-size: 1rem;
  padding: 0.25rem 1rem;
}


.main-banner,
.sub-banner {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow: var(--banner-box-shadow);
}

.main-banner {
  justify-content: flex-start;
}

.banner-title {
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.banner-description {
  margin-bottom: 1rem;
  font-weight: 600;
}



/* 電腦版活動區banner區塊樣式，導入媒體查詢768px */
@media screen and (min-width: 768px) {
  .banner-wrapper {
    grid-template-areas:
      "main main main left"
      "main main main right";
  }

  .main-banner {
    justify-content: center;
    align-items: flex-start;
  }

  .main-banner .banner-title {
    font-size: 4rem;
  }

  .main-banner .banner-description {
    font-size: 2rem;
  }

  .sub-banner .banner-description {
    font-size: 1.5rem;
  }
}



/* 相片集 album 區塊樣式 */
.album-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}


.card {
  width: 100%;
  height: 100%;

  /* 將圖片超出容器的部分隱藏 */
  overflow: hidden;
  box-shadow: var(--card-box-shadow);
  -webkit-box-shadow: var(--card-box-shadow);
  -moz-box-shadow: var(--card-box-shadow);

  /* 定位樣式 */
  position: relative;

  /* 設定圖卡圖片轉場效果 */
  background-color: var(--card-background-color);
}


.card .card-img {
  width: 100%;
  height: 300px;
  display: block;

  /* 避免圖片因為調整長寬而變形 */
  object-fit: cover;

  /* 設定圖卡圖片轉場效果 */
  transition: opacity .3s ease-out;
}

.card .card-text {
  position: absolute;
  top: 50%;
  left: 50%;

  /* 以自身尺寸作為移動距離 */
  transform: translate(-50%, -50%);
  color: var(--card-text-color);
  text-align: center;

  /* 設定圖卡游標懸移文字效果 */
  transition: opacity .3s ease-out;
  opacity: 0;
}


/* 設定圖卡文案樣式 */
.card-text .card-title {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.card-text .card-description {
  font-size: 1.2rem;
}


/* 設定圖卡游標懸移文字效果 */
.card:hover .card-text {
  opacity: 1;
}

/* 設定圖卡圖片轉場效果 */
.card:hover .card-img {
  opacity: 0.4;
}


/* 設定邊框轉場特效 */
.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  transition: transform .4s ease-out;
}

.card::before {
  border-top: 1px solid var(--card-text-color);
  border-bottom: 1px solid var(--card-text-color);
  transform: scale(0, 1);
}

.card:hover::before {
  transform: scale(1.05, 1);
}

.card::after {
  border-left: 1px solid var(--card-text-color);
  border-right: 1px solid var(--card-text-color);
  transform: scale(1, 0);
}

.card:hover::after {
  transform: scale(1, 1.05);
}



/* 領養資訊 adoption 區塊樣式 */
.adoption-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 135px;
  background-color: var(--adoption-background-color);
  box-shadow: var(--adoption-box-shadow);
  -webkit-box-shadow: var(--adoption-box-shadow);
  -moz-box-shadow: var(--adoption-box-shadow);
}

.adoption-image {
  width: 100%;
}

.adoption-info {
  padding: 1.2rem;
  display: grid;
  justify-items: center;
  align-content: center;
}


/* 設定文案樣式 */
.adoption-info .adoption-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  color: var(--adoption-title-text-color);
}

.adoption-info .adoption-description {
  font-size: 1rem;
  margin-bottom: 0.9rem;
  color: var(--adoption-description-text-color);
}



/* 領養資訊adoption區塊樣式，導入媒體查詢768px */
@media screen and (min-width:768px) {
  .adoption-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
  }

  .adoption-info {
    justify-items: start;
  }

  /* 設定文案樣式 */
  .adoption-info .adoption-title {
    font-size: 3rem;
  }

  .adoption-info .adoption-description {
    font-size: 1.875rem;
  }
}



/* 網站頁腳footer區塊樣式 */
footer {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  color: var(--footer-text-color);
  background-color: var(--footer-background-color);
  letter-spacing: 2px;
}


/* 設定專案樣式: end */
/* 網頁樣式似乎沒有被正確載入: 會不會是遞迴式結構導致網頁出錯? */

